In [40]:
import requests, os
if not os.path.exists("train.csv"):
  c=requests.get("https://github.com/Elwing-Chou/ml0930/raw/master/titanic/train.csv")
  with open("train.csv", "w", encoding="utf-8") as f:
                f.write(c.text)
if not os.path.exists("test.csv"):
  c=requests.get("https://github.com/Elwing-Chou/ml0930/raw/master/titanic/test.csv")
  with open("test.csv", "w", encoding="utf-8") as f:
                f.write(c.text)

In [41]:
import pandas as pd
train_df=pd.read_csv("train.csv")
test_df=pd.read_csv("test.csv")

In [42]:
train_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [43]:
test_df

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [44]:
#補缺失值
# train_df
datas=pd.concat([train_df, test_df],axis=0, ignore_index=True)
datas
#數值:Age,SibSp,Parch, Ticket(count)
#類別:Pclass,Name(mid),Sex,Cabin(First),Embarked

      PassengerId  Survived  Pclass  ...      Fare Cabin  Embarked
0               1       0.0       3  ...    7.2500   NaN         S
1               2       1.0       1  ...   71.2833   C85         C
2               3       1.0       3  ...    7.9250   NaN         S
3               4       1.0       1  ...   53.1000  C123         S
4               5       0.0       3  ...    8.0500   NaN         S
...           ...       ...     ...  ...       ...   ...       ...
1304         1305       NaN       3  ...    8.0500   NaN         S
1305         1306       NaN       1  ...  108.9000  C105         C
1306         1307       NaN       3  ...    7.2500   NaN         S
1307         1308       NaN       3  ...    8.0500   NaN         S
1308         1309       NaN       3  ...   22.3583   NaN         C

[1309 rows x 12 columns]

In [45]:
datas=datas.drop(["PassengerId","Survived"],axis=1)

In [46]:
datas

      Pclass                                               Name  ... Cabin  Embarked
0          3                            Braund, Mr. Owen Harris  ...   NaN         S
1          1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2          3                             Heikkinen, Miss. Laina  ...   NaN         S
3          1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4          3                           Allen, Mr. William Henry  ...   NaN         S
...      ...                                                ...  ...   ...       ...
1304       3                                 Spector, Mr. Woolf  ...   NaN         S
1305       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
1306       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
1307       3                                Ware, Mr. Frederick  ...   NaN         S
1308       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [47]:
na = datas.isna().sum()
# 篩選 Series[True/False list/series]
na[na > 0].sort_values(ascending=False)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [48]:
most = datas["Embarked"].value_counts().idxmax()
datas["Embarked"] = datas["Embarked"].fillna(most)

In [49]:
# 先處理一下ticket
dic = datas["Ticket"].value_counts()
def count(n):
    return dic[n]
datas["Ticket"] = datas["Ticket"].apply(count)

In [50]:
med = datas.median().drop(["Pclass"])
datas = datas.fillna(med)

In [51]:
# 一個段落, 看一下還缺啥
na = datas.isna().sum()
# 篩選 Series[True/False list/series]
na[na > 0].sort_values(ascending=False)

Cabin    1014
dtype: int64

In [52]:
def cabin(c):
    if pd.isna(c):
        return None
    else:
        return c[0]
datas["Cabin"] = datas["Cabin"].apply(cabin)

In [64]:
def name(n):
    mid = n.split(",")[-1].split(".")[0]
    mid = mid.strip()
    return mid
middle = datas["Name"].apply(name)
counts = middle.value_counts()
reserved = counts[:4].index
def name2(mid):
    if mid in reserved:
        return mid
    else:
        return None
datas["Name"] = middle.apply(name2)

In [65]:
datas

      Pclass    Name     Sex   Age  ...  Ticket      Fare  Cabin  Embarked
0          3      Mr    male  22.0  ...       1    7.2500   None         S
1          1     Mrs  female  38.0  ...       2   71.2833      C         C
2          3    Miss  female  26.0  ...       1    7.9250   None         S
3          1     Mrs  female  35.0  ...       2   53.1000      C         S
4          3      Mr    male  35.0  ...       1    8.0500   None         S
...      ...     ...     ...   ...  ...     ...       ...    ...       ...
1304       3      Mr    male  28.0  ...       1    8.0500   None         S
1305       1    None  female  39.0  ...       3  108.9000      C         C
1306       3      Mr    male  38.5  ...       1    7.2500   None         S
1307       3      Mr    male  28.0  ...       1    8.0500   None         S
1308       3  Master    male  28.0  ...       3   22.3583   None         C

[1309 rows x 10 columns]

In [67]:
#資料處理不要做減法作加法
datas=pd.get_dummies(datas)
datas = pd.get_dummies(datas, columns=["Pclass"])
datas

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0       1  ...           1         0         0         1
1     38.0      1      0       2  ...           0         1         0         0
2     26.0      0      0       1  ...           1         0         0         1
3     35.0      1      0       2  ...           1         1         0         0
4     35.0      0      0       1  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0       1  ...           1         0         0         1
1305  39.0      0      0       3  ...           0         1         0         0
1306  38.5      0      0       1  ...           1         0         0         1
1307  28.0      0      0       1  ...           1         0         0         1
1308  28.0      1      1       3  ...           0         0         0         1

[1309 rows x 25 columns]

In [68]:
datas["Family"] = datas["SibSp"] + datas["Parch"]
datas

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [76]:
# [first row, second row...]
x_train=datas.iloc[:len(train_df)]
x_predict=datas.iloc[len(train_df):]
y_train=train_df["Survived"]
#y train 正確答案
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
from sklearn.model_selection import cross_val_score

In [74]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(n_estimators=25, max_depth=5, random_state=1)
scores = cross_val_score(clf, x_train, y_train, cv=10, n_jobs=-1)
print(scores)
print(np.average(scores))

[0.83333333 0.86516854 0.76404494 0.87640449 0.84269663 0.80898876
 0.84269663 0.78651685 0.86516854 0.85393258]
0.8338951310861423